In [1]:
import sqlite3

In [2]:
con = sqlite3.connect("batch48_db.db")

In [3]:
cur = con.cursor()

In [4]:
cur.execute("create table customer(id int,name varchar(250),address varchar(500))")

In [5]:
sqlite3.__file__

'/home/khyaathi-python/anaconda2/lib/python2.7/sqlite3/__init__.pyc'

In [7]:
cur.execute("insert into customer(id, name, address) values(1,'anil','ameerpet')")

In [8]:
con.commit()

In [9]:
names=["jayaram","vedhanvesh","pavan","sathish","shruthi","thrishanth","dhanush","sai"]
addresses=["ameerpet","srnagar","ESI","Sanathnagar","Bharath nagar","hitech city","KPHB"]
import random
print random.choice(names)

jayaram

In [10]:
print random.choice(names)

sai

In [11]:
print random.choice(names)

thrishanth

In [13]:
import random
names=["jayaram","vedhanvesh","pavan","sathish","shruthi","thrishanth","dhanush","sai"]
addresses=["ameerpet","srnagar","ESI","Sanathnagar","Bharath nagar","hitech city","KPHB"]
for i in xrange(2,102):
    q="insert into customer(id, name, address) values(%s,'%s','%s')"%(i,
                                                                     random.choice(names),
                                                                     random.choice(addresses))
    cur.execute(q)
    con.commit()