In [1]:
import sqlite3
con = sqlite3.connect("batch48_db.db")
cur=con.cursor()
q="alter table customer add status int"
cur.execute(q)

In [2]:
q="insert into customer (id,name, address, status) values(10000,'jay','ad1',1)"
cur.execute(q)
con.commit()

In [3]:
q="update customer set status=1"
cur.execute(q)
con.commit()

In [4]:
q="update customer set status=0 where id=70"
cur.execute(q)
con.commit()

In [5]:
q="select * from customer where status=1 and name='pavan'"
cur.execute(q)

In [6]:
data = cur.fetchall()
print data

[(9, u'pavan', u'Sanathnagar', 1), (27, u'pavan', u'hitech city', 1), (31, u'pavan', u'ESI', 1), (34, u'pavan', u'ESI', 1), (44, u'pavan', u'hitech city', 1), (48, u'pavan', u'Bharath nagar', 1), (55, u'pavan', u'ESI', 1), (67, u'pavan', u'KPHB', 1), (88, u'pavan', u'ESI', 1), (94, u'pavan', u'ESI', 1), (100, u'pavan', u'ESI', 1), (101, u'pavan', u'KPHB', 1)]

In [8]:
q="select * from customer where name='pavan'"
cur.execute(q)
data = cur.fetchall()
print data

[(9, u'pavan', u'Sanathnagar', 1), (27, u'pavan', u'hitech city', 1), (31, u'pavan', u'ESI', 1), (34, u'pavan', u'ESI', 1), (44, u'pavan', u'hitech city', 1), (48, u'pavan', u'Bharath nagar', 1), (55, u'pavan', u'ESI', 1), (67, u'pavan', u'KPHB', 1), (70, u'pavan', u'Bharath nagar', 0), (88, u'pavan', u'ESI', 1), (94, u'pavan', u'ESI', 1), (100, u'pavan', u'ESI', 1), (101, u'pavan', u'KPHB', 1)]

In [10]:
q="select * from customer where name='pavan' and status=1"
cur.execute(q)
data = cur.fetchall()
print data

[(9, u'pavan', u'Sanathnagar', 1), (27, u'pavan', u'hitech city', 1), (31, u'pavan', u'ESI', 1), (34, u'pavan', u'ESI', 1), (44, u'pavan', u'hitech city', 1), (48, u'pavan', u'Bharath nagar', 1), (55, u'pavan', u'ESI', 1), (67, u'pavan', u'KPHB', 1), (88, u'pavan', u'ESI', 1), (94, u'pavan', u'ESI', 1), (100, u'pavan', u'ESI', 1), (101, u'pavan', u'KPHB', 1)]

In [11]:
q="select id,address,status,name from customer where name='pavan' and status=1"
cur.execute(q)
data = cur.fetchall()
print data

[(9, u'Sanathnagar', 1, u'pavan'), (27, u'hitech city', 1, u'pavan'), (31, u'ESI', 1, u'pavan'), (34, u'ESI', 1, u'pavan'), (44, u'hitech city', 1, u'pavan'), (48, u'Bharath nagar', 1, u'pavan'), (55, u'ESI', 1, u'pavan'), (67, u'KPHB', 1, u'pavan'), (88, u'ESI', 1, u'pavan'), (94, u'ESI', 1, u'pavan'), (100, u'ESI', 1, u'pavan'), (101, u'KPHB', 1, u'pavan')]

In [14]:
"""
DB operations:
    1.insert
    2.update
    3.delete
    4.select
Enter an option:
if user enters 1:
    Take the below info
        Enter id
        Enter name
        Enter address
    and insert the record in to DB with status=1
if user enters 2:
    Enter an id to update:
    
    once you get an id from the user need to get the record from DB and show it to the user.
        NOTE: Dont show status field to the user in any ouput
    Ask: Do you want to edit the record(y/n): Based on the input proceed to update. 
    i.e if the user selects "n" 
            then need to show the main menu
        if the user select "y": 
            Enter name:
            Enter address:
            
            After this need to update the record using id and where condition.
if user enters 3:
    Enter an id to delete:
    
    once you get an id from the user need to get the record from DB and show it to the user.
        NOTE: Dont show status field to the user in any ouput
    Ask: Do you want to delete the record(y/n): Based on the input proceed to update. 
    i.e if the user selects "n" 
            then need to show the main menu
        if the user select "y": 
         need to update the status=0 of record using id and where condition.

        
"""
print ""

In [15]:
q="insert into customer (id,name, address, status) values(10000,'jay','ad1',False)"
cur.execute(q)
con.commit()

OperationalError: no such column: False

In [16]:
q="insert into customer (id,name, address, status) values(10000,'jay','ad1','false')"
cur.execute(q)
con.commit()

In [17]:
dir(con)

['DataError',
 'DatabaseError',
 'Error',
 'IntegrityError',
 'InterfaceError',
 'InternalError',
 'NotSupportedError',
 'OperationalError',
 'ProgrammingError',
 'Warning',
 '__call__',
 '__class__',
 '__delattr__',
 '__doc__',
 '__enter__',
 '__exit__',
 '__format__',
 '__getattribute__',
 '__hash__',
 '__init__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'close',
 'commit',
 'create_aggregate',
 'create_collation',
 'create_function',
 'cursor',
 'execute',
 'executemany',
 'executescript',
 'interrupt',
 'isolation_level',
 'iterdump',
 'rollback',
 'row_factory',
 'set_authorizer',
 'set_progress_handler',
 'text_factory',
 'total_changes']