In [1]:
d={1:2,"ke":"va",(1,2):"tuple",1+2j:"complex","list":[1,2,3,4]}
print d

{(1, 2): 'tuple', 1: 2, 'list': [1, 2, 3, 4], 'ke': 'va', (1+2j): 'complex'}

In [2]:
d={1:2,"ke":"va",(1,2):"tuple",1+2j:"complex","list":[1,2,3,4],[10,20]:"list"}
print d

TypeError: unhashable type: 'list'

In [5]:
d={1:10,1:20,2:30,3:40,2:50}
print d

{1: 20, 2: 50, 3: 40}

In [6]:
d1={1:10,2:20}
d2={1:10,2:20}
d1==d2

True

In [7]:
d1={1:10,2:20}
d2={2:20,1:10}
d1==d2

True

In [8]:
d1={1:10,2:20,3:30}
d2={2:20,1:10}
d1==d2

False

In [9]:
d1={1:10,2:20}
d2={1:5,2:40}
d1>d2

True

In [10]:
d1={1:10}
d2={2:5}
d1>d2

False

In [11]:
d1={3:3}
d2={2:5}
d1>d2

True

In [12]:
d1={3:3,4:40}
d2={2:5}
d1>d2

True

In [13]:
d={"k1":"v1","k2":"v2","k3":"v3"}
for i in d:
    print i

k3
k2
k1

In [14]:
d={"k1":"v1","k2":"v2","k3":"v3"}
for i in d:
    print i, d[i]

k3 v3
k2 v2
k1 v1

In [15]:
d={"k1":"v1","k2":"v2","k3":"v3"}
d["k1"]

'v1'

In [16]:
d["k4"]

KeyError: 'k4'

In [17]:
d={1:10,"1":1000}
print d[1]
print d["1"]

10
1000

In [18]:
d={"a":1,"A":2}
d["a"]

1

In [19]:
d["A"]

2

In [21]:
a=12
d={a:10}
print d

{12: 10}

In [22]:
a=[12,13]
d={a:10}
print d

TypeError: unhashable type: 'list'

In [23]:
a=[12,13]
d={a[0]:10}
print d

{12: 10}

In [24]:
# name age sal
d={}
e_name=raw_input("Enter name:")
d["name"]=e_name
e_age = raw_input("Enter age:")
d["age"]=e_age
e_sal=raw_input("Enter sal:")
d["sal"]=e_sal
print d

Enter name:anil
Enter age:23
Enter sal:234567
{'age': '23', 'name': 'anil', 'sal': '234567'}

In [25]:
d["age"]=50
print d

{'age': 50, 'name': 'anil', 'sal': '234567'}

In [26]:
print d

{'age': 50, 'name': 'anil', 'sal': '234567'}

In [27]:
d1=d
print d1["age"]
print d["age"]

50
50

In [ ]:
d={'age': 50, 'name': 'anil', 'sal': '234567'}
d1=d
d["age"]=60
print d["age"]
print d1["age"]

In [28]:
l=["a","b","c","d"]
l1=l
l[0]=10
print l
print l1

[10, 'b', 'c', 'd']
[10, 'b', 'c', 'd']

In [30]:
l=["a","b","c","d",1000,2000]
l1=l
l2=l[:]
l3=["a","b","c","d",1000,2000]
print l
print l1
print l2
print l3
l[0]=10
print "after modifying l[o]"
print l
print l1
print l2
print l3

['a', 'b', 'c', 'd', 1000, 2000]
['a', 'b', 'c', 'd', 1000, 2000]
['a', 'b', 'c', 'd', 1000, 2000]
['a', 'b', 'c', 'd', 1000, 2000]
after modifying l[o]
[10, 'b', 'c', 'd', 1000, 2000]
[10, 'b', 'c', 'd', 1000, 2000]
['a', 'b', 'c', 'd', 1000, 2000]
['a', 'b', 'c', 'd', 1000, 2000]

In [31]:
d={'age': '23', 'name': 'anil', 'sal': '234567'}
d1=d
d1["age"]=50
print d["age"]

50

In [32]:
d={'age': '23', 'name': 'anil', 'sal': '234567'}
d1=d.copy()
d2=d
d["age"]=50
print d
print d1
print d2

{'age': 50, 'name': 'anil', 'sal': '234567'}
{'age': '23', 'name': 'anil', 'sal': '234567'}
{'age': 50, 'name': 'anil', 'sal': '234567'}

In [33]:
d={'age': '23', 'name': 'anil', 'sal': '234567'}
print d["age"]
print d.get("age")

23
23

In [34]:
d={'age': '23', 'name': 'anil', 'sal': '234567'}
print d["age"]
print d.get("age")
print d.get("pan")
print d["pan"]

23
23
None

KeyError: 'pan'

In [35]:
d={'age': '23', 'name': 'anil', 'sal': '234567'}
print d["age"]
print d.get("age")
print d.get("pan","BRSDFT1234")
print d["pan"]

23
23
BRSDFT1234

KeyError: 'pan'

In [36]:
d={'age': '23', 'name': 'anil', 'sal': '234567'}
d["age"]=50
d["mobile"]=9676622023
print d
print d.update({"age":60,"name":"anil kumar","pan":"sdfsdewr"})
print d

{'mobile': 9676622023, 'age': 50, 'name': 'anil', 'sal': '234567'}
None
{'name': 'anil kumar', 'sal': '234567', 'mobile': 9676622023, 'age': 60, 'pan': 'sdfsdewr'}

In [37]:
d={'name': 'anil kumar', 'sal': '234567', 'mobile': 9676622023, 'age': 60, 'pan': 'sdfsdewr'}
d1=d.update({"adhar":"42r3rt32r"})
for i in d1:
    print i

TypeError: 'NoneType' object is not iterable

In [38]:
d={'name': 'anil kumar', 'sal': '234567', 'mobile': 9676622023, 'age': 60, 'pan': 'sdfsdewr'}
d1=d.update({"adhar":"42r3rt32r"})
for i in d:
    print i

name
sal
mobile
age
pan
adhar

In [39]:
d={'name': 'anil kumar', 'sal': '234567', 'mobile': 9676622023}
d.setdefault("pan","dfdsf")
print d

{'mobile': 9676622023, 'name': 'anil kumar', 'pan': 'dfdsf', 'sal': '234567'}

In [40]:
d={'name': 'anil kumar', 'sal': '234567', 'mobile': 9676622023}
d.setdefault("mobile",970095958)
print d

{'mobile': 9676622023, 'name': 'anil kumar', 'sal': '234567'}

In [41]:
d={'name': 'anil kumar', 'sal': '234567', 'mobile': 9676622023}
print d.setdefault("mobile",970095958)
print d

9676622023
{'mobile': 9676622023, 'name': 'anil kumar', 'sal': '234567'}

In [42]:
d={'name': 'anil kumar', 'sal': '234567', 'mobile': 9676622023}
d.pop()
print d

TypeError: pop expected at least 1 arguments, got 0

In [43]:
d={'name': 'anil kumar', 'sal': '234567', 'mobile': 9676622023}
d.pop("mobile")
print d

{'name': 'anil kumar', 'sal': '234567'}

In [44]:
d={'name': 'anil kumar', 'sal': '234567', 'mobile': 9676622023}
d1=d.pop("mobile")
print d
print d1

{'name': 'anil kumar', 'sal': '234567'}
9676622023

In [45]:
d={'name': 'anil kumar', 'sal': '234567', 'mobile': 9676622023}
d.clear()
print d

{}

In [46]:
d={'name': 'anil kumar', 'sal': '234567', 'mobile': 9676622023}
d1=d
d.clear()
print d
print d1

{}
{}

In [47]:
d={1:2}
d1=d.fromkeys(range(10),"v1")
print d1

{0: 'v1', 1: 'v1', 2: 'v1', 3: 'v1', 4: 'v1', 5: 'v1', 6: 'v1', 7: 'v1', 8: 'v1', 9: 'v1'}

In [48]:
d1=d.fromkeys(["age","name","sal","height"],None)
print d1

{'age': None, 'height': None, 'name': None, 'sal': None}

In [49]:
d1=d.fromkeys(["age","name","sal","height"],None)
print d1
if not d1["age"]:
    d1["age"]=23
print d1

{'age': None, 'height': None, 'name': None, 'sal': None}
{'age': 23, 'height': None, 'name': None, 'sal': None}

In [50]:
d1={}
print d1
if not d1["age"]:
    d1["age"]=23
print d1

{}

KeyError: 'age'

In [51]:
d={'name': 'anil kumar', 'sal': '234567', 'mobile': 9676622023}
print d.has_key("name")
print d.has_key("pan")

True
False

In [52]:
d={'name': 'anil kumar', 'sal': '234567', 'mobile': 9676622023}
print d.has_key(9676622023)

False

In [54]:
d={'name': 'anil kumar', 'sal': '234567', 'mobile': 9676622023}
print d.keys()

['mobile', 'name', 'sal']

In [55]:
d={'name': 'anil kumar', 'sal': '234567', 'mobile': 9676622023}
print d.values()

[9676622023, 'anil kumar', '234567']

In [56]:
d={'name': 'anil kumar', 'sal': '234567', 'mobile': 9676622023}
print "name" in d
print "name" in d.keys()
print d.has_key("name")

True
True
True

In [57]:
d={'name': 'anil kumar', 'sal': '234567', 'mobile': 9676622023}
print 9676622023 in d

False

In [58]:
d={'name': 'anil kumar', 'sal': '234567', 'mobile': 9676622023}
print 9676622023 in d.values()

True

In [59]:
d={'name': 'anil kumar', 'sal': '234567', 'mobile': 9676622023}
print d.items()

[('mobile', 9676622023), ('name', 'anil kumar'), ('sal', '234567')]

In [60]:
d={'name': 'anil kumar', 'sal': '234567', 'mobile': 9676622023}
for i in d.items():
    print i

('mobile', 9676622023)
('name', 'anil kumar')
('sal', '234567')

In [62]:
d={'name': 'anil kumar', 'sal': '234567', 'mobile': 9676622023}
for k,v in d.items():
    print k,v

mobile 9676622023
name anil kumar
sal 234567

In [63]:
d={'name': 'anil kumar', 'sal': '234567', 'mobile': 9676622023}
for k,v in d.items():
    print v

9676622023
anil kumar
234567

In [64]:
d={"k1":23,"k2":23}

In [65]:
l=[10,20,30,40]
d={"k1":l,"k2":l}
d["k1"]

[10, 20, 30, 40]

In [66]:
l=[10,20,30,40]
d={"k1":l,"k2":l}
d["k1"].append(60)
print d["k2"]

[10, 20, 30, 40, 60]

In [67]:
def fun(a,b):
    return a+b
res=fun(10,20)
print res

30

In [68]:
def fun():
    print "st1"
    return 10
    print "st2"
    return 20
    print "st3"
    return 30
res=fun()
print res

st1
10

In [69]:
def fun():
    print "st1"
    yield 10
    print "st2"
    yield 20
    print "st3"
    yield 30
res=fun()
print res

<generator object fun at 0x7f5ee0467a00>

In [ ]:
range(123000000)